# Dependencies
**/node_modules
**/.pnpm-store

# Build artifacts
**/dist
**/.next
**/*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Testing
coverage
**/__tests__

# IDE
.idea
.vscode

# Other apps/packages not needed
apps/api
packages/agents
packages/simulator
packages/sdk
packages/poker

# Docs
docs
.github
